<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Инструменты для Албы</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
HTML, BODY, H1, P, DIV, FORM {
	margin: 0;
	padding: 0;
	}
BODY {
	font-family: sans-serif;
	padding: .5em;
	}
H1 {
	margin: 0;
	}
P {
	}

FORM {
	border: thin solid #808080;
	padding: .5em;
	border-radius: .2em;
	}
DIV.row {
	display: flex;
	margin: .5em -.2em;
	padding: .3em;
	}
DIV.row * {
	margin: 0 .2em;
	padding: .3em;
	}
DIV.row INPUT {
	flex-grow: 1;
	}
LABEL {
	font-weight: bold;
	}
BUTTON {
	font-size: inherit;
	padding: .5em;
	}
</style>
</head>
<body>
<h1>Иструменты для Албы</h1>

<form action="./print" method="GET">
<p>Вводите ссылку на участок (для мобильных устройств) полученую от брата ответственего
за территорию. Тогда нажмите кнобку чтобы получить участок в указанном виде.</p>
<div class="row">
	<label>URL:</label>
	<input name="url">
</div>
<div class="row">
	<label>Получить:</label>
	<button type="submit">Версия для печати</button>
	<button type="submit" formaction="./research">Версия для иследования</button>
</div>
</form>

</body>
</html>
