<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Участок {{territory.number}}</title>
<style>
* {
	box-sizing: border-box;
	}

HTML, BODY, H1 {
	margin: 0;
	padding: 0;
	}
BODY {
	padding: .25em;
	}
H1 {
	font-size: 150%;
	}

/* Territory address tables */
TABLE {
	border-collapse: collapse;
	}
TH, TD {
	border: thin solid black;
	padding: .29em .4em;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	width: 0;
	}
TH {
	font-weight: bold;
	}
TD:first-child {
	text-align: center;
	}
TH:last-child, TD:last-child {
	width: 50%;
	}
TD:nth-child(6) {
	text-align: right;
	}
</style>
</head>
<body>
<h1>Участок {{territory.number}} {{ territory.city }}</h1>

<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th>Язык</th>
			<th>ФИО</th>
			<th>Улица</th>
			<th>Дом</th>
			<th>Квар.</th>
			{% if not territory.city %}
			<th>Город</th>
			{% endif %}
			<th>Индекс</th>
			<th>Телефон</th>
			<th>Завметки</th>
		</tr>
	</thead>
	<tbody>
		{% for address in territory.addresses %}
		{% if address.status not in ("Invalid", "Moved") %}
		<tr class="{{address.status_class()}}">
			<td>{% if address.marker %}{{address.marker}}{% else %}&nbsp;{% endif %}</td>
			<td>{{address.status}}</td>
			<td>{{address.language}}</td>
			<td>{{ address.name }}
				{%- for name in address.names_list() -%}
				<br><a href="https://www.truepeoplesearch.com/results?name={{name|urlencode}}&citystatezip={{address.city_state()|urlencode}}" target="_blank">
					{{name}}</a>
				{%- endfor %}
			</td>
			<td>{{address.street}}</td>
			<td><a href="https://www.truepeoplesearch.com/results?streetaddress={{ address.street_address()|urlencode }}&citystatezip={{ address.city_state()|urlencode }}" target="_blank">
				{{address.house_number}}</a>
			</td>
			<td>{{address.apartment}}</td>
			{% if not territory.city %}
			<td>{{address.city}}, {{address.state}}</td>
			{% endif %}
			<td>{{address.postal_code}}</td>
			<td>
				<a href="https://www.truepeoplesearch.com/results?phoneno={{ address.phone|urlencode }}" target="_blank">
				{{address.phone}}</a>
			</td>
			<td>
				{% if address.status == 'Not valid' %}Не говорят на русском{% endif %}
				{{address.notes}}
			</td>	
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>

</body>
</html>
